html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
}

body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}

header {
	background-color: #77b0a2;
	position: relative;
	text-align: center;
	padding: 2.5em;
}

header h1 {
	color: white;
	font-weight: 400;
	margin: 0em;
	font-size: 2em;
	text-shadow: #222 2px 2px 3px;
	top:30px;
	text-align:center;
}

nav{
	margin: 0em;
	padding: 0em;
	background-color: #7d7e81;
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow:hidden;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: .9em;
}

ol li{
	display: inline-block;
	width:25%;
	float:left;
	margin:0;
	padding: 1em;
}

ol a {
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-weight: 400;
}

h2{
	text-align: center;
}

p{
	text-align: center;
}
