html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
}

body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}

header {
	background-color: #77b0a2;
	position: relative;
	text-align: center;
	padding: 2.5em;
}

header h1 {
	color: white;
	font-weight: 400;
	margin: 0em;
	font-size: 2em;
	text-shadow: #222 2px 2px 3px;
	top:30px;
	text-align:center;
}

nav{
	margin: 0em;
	padding: 0em;
	background-color: white;
}

nav ol{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow:hidden;
}

nav a {
	color: #77b0a2;
	text-decoration: none;
	font-size: .9em;
}

ol li{
	display: inline-block;
	width:25%;
	float:left;
	margin:0;
	padding: 1em;
	border: 2px solid #5393b8;
	text-align: center;
}

ol a {
	color: #5393b8;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-weight: 400;
}

h2{
	text-align: center;
}

p{
	text-align: center;
}

ol li:hover{
	background-color: #7d7e81;
	color: white;
}

footer{
	background-color: white;
}

.who-div{
	background-color:#f7e372;
	margin:0em;
}

.food-div{
	background-color:#5393b8;
	margin:0em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.events-div {
	background-color: #c31f39;
	margin:0em;
	padding:0em;
}

.events-div h2{
	margin: 0em;
}

.food-div h2{
	margin:0em;
}

.who-p{
	margin: 0em;
}

.who-div h2{
	margin: 0em;
}

figcaption{
	text-align:center;
}

.right{
	float:right;
	width:50%;
}

.left{
	float:left;
	width:50%;
}

.event-p{
	color: white;
}
